@import "tailwindcss";

@theme {
  --color-primary: #61DAFB;
}

.center-box {
  @apply flex flex-col items-center justify-center w-screen h-screen;
}

.logo {
  @apply opacity-35 transition-opacity duration-300 hover:opacity-100;
}
