@import "@unocss/reset/eric-meyer.css";
@import "@unocss/preset-uno";
@import "@unocss/preset-icons";
@import "@unocss/preset-web-fonts";

:theme {
  --color-primary: #3b82f6;
  --font-family-sans: webfont("Inter");
  --animation-duration-spin: 1s;
  --animation-timing-spin: ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn {
  --uno: py-2 px-4 font-sans rounded-lg shadow-md text-white bg-primary hover:animate-spin border-none;
}
