<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="version" content="1">
  <title>Vue App </title>
  <link rel="icon" href="./assets/favicon.svg">
  <script type="importmap">
    {
      "imports": {
        "vue": "https://esm.sh/vue@3.5.28/es2022/vue.mjs"
      }
    }
  </script>
  <link rel="stylesheet" href="./tailwind.css"></link>
</head>
<body>
  <div id="root">
    <p class="center-box font-sans text-gray-400">Loading...</p>
  </div>
  <script type="module" src="./app/main.ts"></script>
</body>
</html>
