@import "@unocss/reset/tailwind-v4.css";
@import "@unocss/preset-wind4";
@import "@unocss/preset-icons";
@import "@unocss/preset-web-fonts";

:theme {
  --color-primary: #232323;
  --font-family-sans: webfont("Inter:400,500,600");
}

.center-box {
  --uno: flex flex-col items-center justify-center w-screen h-screen;
}

.logo {
  --uno: text-gray-400 hover:text-gray-700;
}
