.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #333;
  background: #f8f8f8
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: 700
}

.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr,
.hljs-template-variable,
.hljs-variable {
  color: teal
}

.hljs-doctag,
.hljs-string {
  color: #d63369
}

.hljs-section,
.hljs-selector-id,
.hljs-title {
  color: #d63369;
  font-weight: 700
}

.hljs-subst {
  font-weight: 400
}

.hljs-class .hljs-title,
.hljs-type {
  color: #458;
  font-weight: 700
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: teal;
  font-weight: 400
}

.hljs-link,
.hljs-regexp {
  color: #009926
}

.hljs-bullet,
.hljs-symbol {
  color: #d63369
}

.hljs-built_in,
.hljs-builtin-name {
  color: teal
}

.hljs-meta {
  color: #999;
  font-weight: 700
}

.hljs-deletion {
  background: #fdd
}

.hljs-addition {
  background: #dfd
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 15px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Ubuntu, Tahoma, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #232323;
  text-rendering: optimizeLegibility;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

.readme {
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
  padding: 120px 0 60px;
}

.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5 {
  font-weight: 500;
  line-height: 1.27;
}

.readme h1 {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 800;
}

.readme h2 {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}

.readme h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.readme h4 {
  font-size: 1.2rem;
}

.readme h5 {
  font-size: 1rem;
}

.readme p {
  margin-top: 1.27rem;
  line-height: 1.5;
}

.readme a {
  color: #d63369;
  box-shadow: 0 1px 0 0 currentColor;
}

.readme a:hover {
  box-shadow: none;
}

.readme samp,
.readme code {
  font-family: 'Dank Mono', 'Source Code Pro', 'Courier Prime Code', 'Liberation Mono', Consolas, Menlo, monospace;
}

.readme samp {
  font-weight: bold;
  color: #333;
}

.readme pre {
  box-sizing: border-box;
  overflow-x: auto;
  width: 100%;
  margin-top: 1.27rem;
  border-radius: 6px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f8f8;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}

.readme pre>code {
  display: block;
  padding: 1.2rem !important;
}

.readme :not(pre)>code {
  display: inline;
  white-space: pre-wrap;
  color: #d63369;
}

.readme :not(pre)>code::before,
.readme :not(pre)>code::after {
  color: currentColor;
  content: '`'
}

.readme pre>code.language-bash .hljs-built_in::before {
  color: #bbb;
  content: '$ ';
}

.readme details {
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.readme details[open] {
  overflow: hidden;
}

.readme details>summary {
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.readme blockquote {
  color: #666666;
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 0 1.25rem;
  margin: 1.5rem 0;
}

.readme hr {
  border: 0;
  border-top: 1px solid #eaeaea;
  margin: 1.25rem 0;
}

.readme ul,
.readme ol {
  padding-left: 0;
  margin-top: 1.27rem;
}

.readme ol {
  list-style-type: decimal;
}

.readme li {
  margin-top: 0.6rem;
}

.readme h1 {
  display: flex;
  align-items: center;
}

.readme h1 em {
  position: relative;
  top: -6px;
  margin-left: 9px;
  font-size: 15px;
  font-weight: 500;
  color: #999;
}

.readme h1 .github {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  color: #555;
  box-shadow: none;
}

.readme h1 a.github:hover {
  color: #000;
}

.readme h1 .github svg {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.readme p.link {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 500;
}

.readme p.link+p.link {
  margin-top: 10px;
}

.test ul li {
  min-height: 30px;
}

.test ul li>span,
.test ul li>em,
.test ul li>strong,
.test ul li::before {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}

.test ul li>span,
.test ul li>em {
  margin-left: 10px;
}

.test ul li em {
  color: #999;
}
