@unoEntry "**/*.jsx";

:root {
  --text-color: #202020;
  --bg-color: #ffffff;
}

.dark {
  color-scheme: dark;
  --text-color: #f0f0f0;
  --bg-color: #202020;
}

.dark ::selection {
  background: #454545;
}

body {
  @apply m-0 p-0; /* @see https://unocss.dev/transformers/directives#usage */
  visibility: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media hot {
  body {
    visibility: visible;
  }
}
