name: Release

on:
  push:
    tags:
      - v*.*.*

jobs:
  build_cli:
    name: Build esm.sh CLI
    runs-on: ubuntu-latest
    environment: release

    strategy:
      matrix:
        include:
          - os: darwin
            arch: arm64
            ext: ''
          - os: darwin
            arch: amd64
            ext: ''
          - os: linux
            arch: arm64
            ext: ''
          - os: linux
            arch: amd64
            ext: ''

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Build CLI
        run: go build -ldflags="-s -w" -o cli/npm/tmp/bin/esm.sh main.go
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          CGO_ENABLED: "0"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cli-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.ext }}
          path: cli/npm/tmp/bin/esm.sh
          if-no-files-found: error

      - name: Create package.json
        run: echo "const p=JSON.parse(require('fs').readFileSync('../npm/package.json','utf8'));console.log(JSON.stringify({...p,name:'@esm.sh/cli-${{ matrix.os }}-${{ matrix.arch }}',version:'${{ github.ref_name }}'.slice(1),os:['${{ matrix.os }}'],cpu:['${{ matrix.arch }}'.replace('amd','x')],bin:void 0,scripts:void 0,optionalDependencies:void 0}))" | node > package.json
        working-directory: cli/npm/tmp

      - name: Publish Package to NPM
        run: npm publish --provenance --access public
        working-directory: cli/npm/tmp
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish_to_npm:
    name: Publish package "esm.sh" to NPM
    runs-on: ubuntu-latest
    environment: release
    needs: [build_cli]

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Update Version
        run: echo "const fs=require('fs');fs.writeFileSync('package.json',fs.readFileSync('package.json','utf8').replaceAll('*','${{ github.ref_name }}'.slice(1)),'utf8')" | node
        working-directory: cli/npm

      - name: Publish Package
        run: npm publish --provenance --access public
        working-directory: cli/npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [publish_to_npm]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: .artifact

      - name: Gzip Artifact
        run: gzip .artifact/*

      - name: Extract Release Note
        run: echo "console.log(require('fs').readFileSync('CHANGELOG-CLI.md','utf8').split('## ')[1].slice('${{ github.ref_name }}'.length).trim())" | node > release-note.txt

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: release-note.txt
          files: .artifact/cli-*.gz
