name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  server_integration_test:
    name: Server Integration Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [1.x, 2.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26.x

      - name: Setup Deno
        uses: denoland/setup-deno@main
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Run Unit Tests
        run: go test ./server ./internal/* -v
        env:
          GO_TEST_S3_ENDPOINT: ${{ secrets.GO_TEST_S3_ENDPOINT }}
          GO_TEST_S3_REGION: ${{ secrets.GO_TEST_S3_REGION }}
          GO_TEST_S3_ACCESS_KEY_ID: ${{ secrets.GO_TEST_S3_ACCESS_KEY_ID }}
          GO_TEST_S3_SECRET_ACCESS_KEY: ${{ secrets.GO_TEST_S3_SECRET_ACCESS_KEY }}
          GO_TEST_S3_ROOTDIR: test-d-${{ matrix.deno-version }}

      - name: Run Integration Tests
        run: test/bootstrap.ts -q

  cli_test:
    name: CLI Test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: macos-latest
            ext: ''
          - os: ubuntu-latest
            ext: ''
          - os: windows-latest
            ext: '.exe'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26.x

      - name: Build CLI
        run: go build -o esm.sh${{ matrix.ext }} main.go

      - name: Run CLI
        run: ./esm.sh${{ matrix.ext }} add react --no-prompt

      - name: Check CLI Output
        run: cat index.html
