<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="version" content="1">
  <title>Vanilla App</title>
  <link rel="icon" href="./assets/favicon.svg">
  <script type="importmap">
    {
      "imports": {}
    }
  </script>
  <script src="https://esm.sh/x" href="./uno.css"></script>
</head>
<body>
  <p class="center-box font-sans text-gray-400">Loading...</p>
  <script src="https://esm.sh/x" href="./main.ts"></script>
</body>
</html>
